extends layout

block content 

    div#main
            section(id='ListCandidacy', class='four')
                div.container
                    header

                        h1 #{title}
       
                        table
                            div.row
                                div(class='6u 12u$(mobile)')
                                    tr
                                        th nomEvent
                                        th lastname
                                        th firstname
                                        th role
                                        th etat + Update
                                div(class='6u 12u$(mobile)')
                                    tr
                                    each candidature, i in candidatures
                                        tr
                                            td
                                                each offer in candidature.offer
                                                    =offer.nomEvent
                                            td
                                                each person in candidature.person
                                                    =person.lastname
                                            td
                                                each person in candidature.person
                                                    =person.firstname
                                            td
                                                each offer in candidature.offer
                                                    =offer.roleDem  
                                            td
                                                form(action="/candidatures/update/" + candidature._id, method="post")
                                                    select(name="etat")
                                                        option(value = candidature.etat) 
                                                            = candidature.etat
                                                        each val in ['Waiting','Accepted','Refuse','Retained','Completed']
                                                            if val != candidature.etat
                                                                option(value = val) 
                                                                    =val   
                                                    input(type='submit' value="✎" style ="left:100px;")
                            