extends layout

block content 

    h1 #{title}
        div
            for figurant, i in figurants
                div.offre
                    p= 'Nom : ' + figurant.lastname
                    p= 'Prénom : ' + figurant.firstname 
                    p= 'E-mail : ' + figurant.email
                    button 
                        a(href='/figurants/delete/'+figurant._id)  Delete
                    button 
                        a(href='/figurants/update/'+figurant._id)  Update
            else
                h3 Aucun Figurant disponible
                
        
        button
            a(href='/figurants/addfigurant/')  Ajouter une figurant