doctype html

html
  head
    title FaceCast
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //if lte IE 8
      script(src='assets/js/ie/html5shiv.js')
    link(rel='stylesheet', href='/assets/css/main.css')
    //if lte IE 8
      link(rel='stylesheet', href='assets/css/ie8.css')
  body.homepage
    #page-wrapper
      // Header
      #header-wrapper
        header#header.container
          // Logo
          #logo
            h1
              a(href='/') Facecast
            
          // Nav
          nav#nav
            ul
              li.current
                a(href='/') Bienvenue
              li
                a(href='#') Offres
                ul
                  li
                    a(href='offres') Disponible
                  li
                    a(href='/offres/addoffre') Ajouter une offre
                    
              li
                a(href='candidatures') Candidature
              li
                a(href='#') Figurants
                ul
                  li
                    a(href='figurants') Liste Figurants
                  li
                    a(href='/figurants/addfigurant') Ajouter un figurant
              li
                a(href='mailto:yohann.touzery@neuf.fr') Contactez-nous
                
    block content
    
    // Footer
    #footer-wrapper
        footer#footer.container            
          .row
            div(class='12u')
              #copyright
                ul.menu
                  li Facecast.©  Tous droits réservés
                  li
                    | Design: 
                    a(href='http://thomaslambin.epizy.com') Thomas & 
                    a(href='https://yohanntouzery.wixsite.com/monportfolio') Yohann
                    
    // Scripts
    script(src='assets/js/jquery.min.js')
    script(src='assets/js/jquery.dropotron.min.js')
    script(src='assets/js/skel.min.js')
    script(src='assets/js/util.js')
    //if lte IE 8
      script(src='assets/js/ie/respond.min.js')
    script(src='assets/js/main.js')












