extends layout

block content 

    h1 #{title}
        div
            for offre, i in offres
                div.offre
                    p= 'Nom : ' + offre.nomEvent
                    p= 'Type : ' + offre.typeEvent 
                    p= 'Date de paruption : ' + offre.dateStart
                    p= 'Durée : ' + offre.nbJours + ' jour(s)'
                    p= 'Rôle : ' + offre.roleDem
                    p= 'Nombres figurants : ' + offre.nbFig + ' figurant(s)'
                    button 
                        a(href='/offres/delete/'+offre._id)  Delete
                    button 
                        a(href='/offres/update/'+offre._id)  Update
                    
            else
                h3 Aucune Offre disponible
                
        
        button
            a(href='/offres/addoffre/')  Ajouter une offre
                            
    
            
    
                
        