extends layout

block content

  div#main
    
    section    
      div.container 
        header 
          h2.alt Modifier une offre
          br  

          form(action="/figurants/update/edit/"+figurant._id, method="post") 
            input(type='text', name="nom", value=figurant.nom )
            br
            input(type='text', name="prenom", value=figurant.prenom )
            br
            input(type='email', name="email", value=figurant.email )   
            br
            input(type='submit')